/* === Desktop styles === */
.nav-btns,
.login-form-close {
  display: none;
}
/* === Navbar styles === */
.navbar.outer-container {
  position: fixed;
  top: 0;
  margin: 0;
  background: var(--pink-color);
  z-index: 10;
  transition: top 0.5s ease;
}
.navbar.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
/* === Brand Logo styles === */
.logo-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.logo {
  font-size: 34px;
  font-weight: bolder;
}
.logo.l {
  color: #6aa84f;
}
.logo.d {
  color: #7b95e0;
}
.logo.h {
  color: #585757;
}
/* === Login Form styles === */
.login-form {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}
.login-error {
  position: absolute;
  top: 60px;
  left: 5px;
  padding: 0;
  color: #ee4e4e;
}
.login-form > input[name="username"],
.login-form > input[name="psw"] {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 3px 6px;
  width: 150px;
  font-size: 16px;
  border: none;
}
.login-form > button[type="submit"] {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: var(--blue-color);
  color: var(--white-color);
}

/* === Intro styles === */
.outer-container.intro {
  height: 97vh;
}
.container.intro {
  display: flex;
}
.intro.article {
  flex: 6;
  margin: 0;
}
.intro.first-heading {
  font-size: 30px;
  margin: 10vh 0 0 0;
  padding: 0;
  text-align: center;
}
.intro.img-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 15px auto;
  padding: 0;
  text-align: center;
  border-radius: 50%;
}
.intro.img {
  width: 100%;
  height: 100%;
}
.intro.heading {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.intro-learn-more {
  display: flex;
  margin: 20px 0 0 0;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}
.learn-more-para {
  margin: 0;
  padding: 0;
}
.intro.arrow-down-link {
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 0 0 0 10px;
  padding: 0;
  border-radius: 50%;
}
.arrow-down {
  width: 100%;
}

/* ========== Signup Form styles ==========*/
.signup-form {
  flex: 4;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.signup-form-heading {
  margin: 50px 5px 20px 5px;
  font-size: 25px;
  font-weight: normal;
}
#signup-error {
  display: none;
  margin: 5px;
  padding: 0;
  color: #ee4e4e;
}
.signup-field {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.inputs-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.signup-input {
  width: 100%;
  margin: 8px 5px;
  padding: 8px 10px;
  font-size: 18px;
  border: 0.5px solid var(--font-color);
  border-radius: 5px;
}

.signup-input.name {
  flex: 5;
}
label[for="birthday"] {
  display: block;
  margin: 15px 0 5px 5px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: grey;
}
.birthday-select {
  margin: 5px;
  font-size: 16px;
  border: 0.5px solid var(--font-color);
  border-radius: 4px;
  background: var(--white-color);
}
.gender {
  margin: 10px 10px 10px 5px;
  padding: 0;
  font-size: 18px;
}
#signup-btn {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  background: var(--green-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.outer-container.about {
  margin: 0;
}
#learn-more {
  margin: 0;
}
.welcoming {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.welcoming-smile {
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: 0 0 0 10px;
  border-radius: 50%;
}
.smile {
  width: 100%;
}

.find-out-para {
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}
.heading {
  margin: 30px 0 10px 0;
  padding: 0;
  font-size: 25px;
}
.questions-list {
  margin: 0;
  padding: 0 0 0 40px;
  font-size: 18px;
}
.question {
  margin: 10px 0;
  padding: 0;
}
.learn-more-conclusion {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.define-ldh {
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
}
.ldh {
  font-weight: bold;
  font-style: italic;
  color: rgb(88, 86, 86);
}
.features-list {
  margin: 0;
  padding: 0 0 0 40px;
  font-size: 18px;
}
.feature {
  margin: 10px 0;
}

/* =============== Tablet styles =============== */
@media only screen and (max-width: 1170px) {
  .outer-container {
    margin: 50px 0 0 0;
  }
  .navbar.container {
    padding: 8px 5px;
  }
  /* === Brand Logo styles === */
  .logo-link {
    font-size: 24px;
  }
  .logo {
    font-size: 28px;
  }
  /* === Login Form styles === */
  .nav.login-form > input[name="username"],
  .nav.login-form > input[name="psw"] {
    padding: 3px 5px;
    width: 150px;
    font-size: 14px;
  }

  /* ========== Intro ==========*/
  .intro.heading {
    font-size: 28px;
  }
  .intro.first-heading {
    font-size: 28px;
  }
  .intro-learn-more {
    font-size: 20px;
  }
  .intro.arrow-down-link {
    width: 30px;
    height: 30px;
    margin: 0 0 0 6px;
  }
  .welcoming {
    font-size: 50px;
  }
  .welcoming-smile {
    width: 60px;
    height: 60px;
  }
  .heading {
    font-size: 24px;
  }
  .questions-list {
    padding: 0 0 0 35px;
    font-size: 17px;
  }
  .question {
    margin: 7px 0;
  }
  .learn-more-conclusion {
    font-size: 19px;
  }
  .define-ldh {
    font-size: 17px;
    line-height: 23px;
  }
  .features-list {
    padding: 0 0 0 35px;
    font-size: 17px;
  }
}

/* =============== Mobile styles =============== */

@media only screen and (max-width: 800px) {
  #loading-screen-svg {
    width: 100px;
    height: 100px;
  }
  .outer-container {
    margin: 40px 0 0 0;
  }
  .container {
    padding: 20px 5px;
  }
  /* === Navbar styles === */
  .navbar.container {
    padding: 6px;
  }
  /* === Login Form styles === */
  .nav.login-form {
    position: fixed;
    top: -200px;
    right: 5px;
    left: 5px;
    padding: 0;
    flex-flow: column nowrap;
    transition: top 0.5s ease;
  }
  .login-form-close {
    display: block;
    position: absolute;
    right: 0;
    bottom: 132px;
    width: 30px;
    height: 30px;
    padding: 3px;
    font-size: 20px;
    font-family: "Lato", "Roboto", sans-serif, "Helvetica", "Helvetica Neue";
    text-align: center;
    background: var(--hover-white-color);
    border-radius: 50%;
  }
  .nav.login-form > .login-error {
    position: static;
    margin: 0 0 30px 0;
    padding: 0;
  }
  .nav.login-form > input[name="username"],
  .nav.login-form > input[name="psw"] {
    margin: 5px 0;
    padding: 8px 6px;
    width: 100%;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 5px 0 var(--font-color);
    border-radius: 5px;
  }
  .nav.login-form > button[type="submit"] {
    font-size: 18px;
    border: none;
    margin: 10px 0 0 0;
    padding: 5px;
    border-radius: 5px;
    background: var(--blue-color);
    color: var(--white-color);
  }

  .nav-btns {
    display: flex;
    float: right;
    margin: 4px 0 0 0;
  }
  .nav-btns:after {
    display: block;
    content: "";
    clear: both;
  }
  .nav.btn {
    flex: auto;
    font-size: 18px;
    text-decoration: none;
    background: none;
    color: var(--font-color);
    border: none;
    cursor: pointer;
  }
  .nav.btn.login {
    padding: 0 4px;
    margin: 0 0 0 5px;
    font-size: 16px;
    background: var(--blue-color);
    color: var(--white-color);
    border-radius: 3px;
    /* border: 0.5px solid var(--black-color); */
  }
  .nav.btn:hover {
    color: var(--white-color);
  }
  .logo-link {
    font-size: 20px;
  }
  .logo {
    font-size: 24px;
  }

  /* === Intro styles === */
  .outer-container.intro {
    height: inherit;
  }
  .container.intro {
    display: block;
    margin-top: 15vh;
  }
  .intro.first-heading {
    margin: 20px 0;
  }

  .intro.article {
    height: 75vh;
  }
  .intro.first-heading {
    font-size: 24px;
    margin-top: 20px;
  }
  .intro.img-wrapper {
    width: 140px;
    height: 140px;
  }
  .intro.heading {
    font-size: 24px;
    font-weight: normal;
  }
  .intro-learn-more {
    flex-flow: column;
    margin: 20px 0 0 0;
    font-size: 17px;
  }
  .intro.arrow-down-link {
    width: 30px;
    height: 30px;
    margin: 20px 0 0 0;
  }
  .signup-form {
    padding: 15vh 0 0 0;
    height: 100vh;
  }
  .signup-field {
    margin: 0;
  }
  .signup-form-heading {
    margin: 0 5px 25px 5px;
    font-size: 20px;
  }
  .signup-input {
    margin: 10px 5px;
    padding: 3px 6px;
    font-size: 15px;
  }
  label[for="birthday"] {
    font-size: 16px;
  }
  .birthday-select {
    font-size: 14px;
  }
  .gender {
    margin: 20px 10px 10px 5px;
    font-size: 15px;
  }
  #signup-btn {
    width: 90%;
    margin: 20px auto;
  }

  .welcoming {
    font-size: 35px;
  }
  .welcoming-smile {
    width: 40px;
    height: 40px;
  }
  .heading {
    font-size: 20px;
    font-weight: normal;
  }
  .questions-list {
    padding: 0 0 0 25px;
    font-size: 15px;
  }
  .learn-more-conclusion {
    font-size: 16px;
  }
  .define-ldh {
    font-size: 15px;
  }
  .features-list {
    padding: 0 0 0 25px;
    font-size: 15px;
  }
}

/* 
Dark Gray = 88,87,87 / #585757
Green = 106,168,79 / #6aa84f
Blue = 123,149,224 / #7b95e0
Rosy = 250, 189, 189 / #fabfbf
Error = 238, 78, 78 / #ee4e4e
font for Logo = Wendy one, Vig, Vampiro one, Trade winds, Baloo, Bangers, Boogaloo, Caeser dressing
=============================
Dark to navy = 95,103,126
Dark = 88,87,87
Orange = #f39c3f
Rosy2 = 245,182,195 / #f5b6c3
 */
