.update-post-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
.update-post.form {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 15px 0;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px var(--font-color);
}
.update-post.title {
  margin: 0;
  padding: 15px;
  font-size: 22px;
  color: var(--black-color);
  text-align: center;
  border-bottom: 1px solid var(--hover-white-color);
}
.update-post.x-icon-wrapper {
  top: 12px;
  right: 15px;
  width: 35px;
  height: 35px;
}
.update-post.x-icon-inner {
  padding: 8px;
  background: var(--hover-white-color);
  border-radius: 50%;
}

.update-post.header {
  position: relative;
  display: flex;
  flex-flow: nowrap;
  width: 100%;
  padding: 10px 15px;
}

.update-post.activity-owner-box {
  flex: auto;
  margin: 5px 0 0 10px;
  display: flex;
  align-items: center;
}
.update-post.owner-name {
  font-size: 20px;
  color: var(--black-color);
  text-decoration: none;
}

.update-post.activity {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: var(--black-color);
  text-decoration: none;
}
.update-post.created-at {
  position: absolute;
  top: 40px;
  left: 70px;
  font-size: 12px;
}

.update-post.selects {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
}
.selects.row {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.selects.row > label {
  padding: 0;
  margin: 0 5px 0 0;
}
.selects.row > select[name="participants"] {
  width: 55px;
  margin-right: 20px;
  padding: 2px 4px;
  font-size: 18px;
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.update-post.description {
  padding: 10px 15px;
  height: 250px;
}
.update-post.description > textarea[name="description"] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px 10px 3px 3px;
  font-size: 20px;
  resize: none;
  border: none;
}

.update-post.submit {
  display: block;
  margin: auto;
  width: 570px;
  padding: 10px;
  font-size: var(--p-font-size);
  background: var(--green-color);
  color: var(--white-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.update-post.submit.disabled {
  background: var(--hover-white-color);
  color: var(--black-color);
}

/* =============== Mobile styles =============== */
@media screen and (max-width: 800px) {
  .update-post-container {
    overflow: scroll;
    padding: 85px 5px 0 5px;
  }
  .update-post-inner {
    margin: 0;
    padding: 0;
    height: 150%;
  }
  .update-post.form {
    width: 100%;
    padding: 0 0 10px 0;
  }
  .update-post.title {
    padding: 10px;
  }
  .update-post.x-icon-wrapper {
    top: 9px;
    right: 9px;
    width: 30px;
    height: 30px;
  }
  .update-post.header {
    padding: 0 10px;
  }
  .update-post.activity-owner-box {
    margin: 15px 0 0 10px;
  }
  .update-post.created-at {
    left: 67px;
  }
  .update-post.selects {
    flex-flow: wrap;
    margin: 0 10px;
  }
  .selects.row {
    margin: 5px;
  }
  .selects.row > select[name="participants"] {
    border-radius: 15px;
  }

  .update-post.submit {
    margin: 0 auto;
    width: 97%;
    padding: 10px;
    font-size: 18px;
  }
}
