(CONTENT, NAVBAR, FOOTER, SIDE_MENU)=>`
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/variables.css" />
    <link rel="shortcut icon" type="image/ico" href="/image/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon/favicon-16x16.png" />
    <meta name="description"
      content="Lets Do Hobby is a free app for meeting like-minded local people who have the same interests as you" />
    <meta name="keywords" content="Hobby, Activity, Meeting people, Making new friends, lets do hobby" />
    <meta name="author" content="Ahmad Kawara" />
    <title>LetsDoHobby</title>
  </head>

  <body> ${NAVBAR || ""} ${SIDE_MENU || ""} ${CONTENT || ""} ${FOOTER || ""}</body>

</html>`