.news-feed.wrapper {
  width: 55%;
  margin: 0 auto;
  padding: 0;
}
.to-the-top[type="button"] {
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 0;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.to-the-top.img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* =============== Tablet styles =============== */
@media screen and (max-width: 1170px) {
  .news-feed.wrapper {
    width: 60%;
  }
}
/* =============== Mobile styles =============== */
@media screen and (max-width: 800px) {
  .news-feed.wrapper {
    width: 100%;
    margin: 0;
  }
}
