.create-post.date-time {
  display: flex;
  margin: 0;
  padding: 0;
}
.create-post.date,
.create-post.time {
  display: flex;
  margin: 0;
  padding: 0 0 0 10px;
}
.create-post.date > select,
.create-post.time > select {
  margin: 0;
  padding: 2px 4px;
  font-size: 18px;
  background: var(--hover-white-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.create-post.date > select[name="month"],
.create-post.time > select[name="hour"] {
  background: var(--blue-color);
  color: var(--white-color);
}
.create-post.date-dash,
.time-colon {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
}
.create-post.time-colon {
  line-height: 20px;
}

/* =============== Mobile styles =============== */
@media screen and (max-width: 800px) {
  .create-post.date-time {
    flex: 10;
    justify-content: space-evenly;
  }
  .create-post.date,
  .create-post.time {
    margin-right: 10px;
    padding: 0;
  }
  .create-post.date > select,
  .create-post.time > select {
    padding: 2px 4px;
    border-radius: 15px;
  }
}
