/* Navbar styles */
.navbar.outer-container {
  position: fixed;
  top: 0;
  margin: 0;
  background: var(--pink-color);
  z-index: 10;
  transition: top 0.5s ease;
}

.navbar.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

/* Brand Logo styles */
.logo-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.logo {
  font-size: 34px;
  font-weight: bolder;
}

.logo.l {
  color: #6aa84f;
}

.logo.d {
  color: #7b95e0;
}

.logo.h {
  color: #585757;
}

.nav-btns {
  display: flex;
  margin: 0;
}

.nav.btn {
  flex: auto;
  font-size: 22px;
  margin: 0 10px;
  text-decoration: none;
  background: none;
  color: var(--font-color);
  border: none;
  cursor: pointer;
}

.nav.btn:hover {
  color: var(--white-color);
}
