.post-details.wrapper {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 20px 20px 40px 20px;
  background: var(--white-color);
  box-shadow: 0px 0px 3px 0px var(--font-color);
  border-radius: 5px;
}

.post-details.header {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.post-details.avatar-link {
  width: 70px;
  height: 70px;
  margin: 0 10px 0 0;
  padding: 0;
  border-radius: 50%;
  text-decoration: none;
}

.post-details.avatar-wrapper,
.post-details.avatar-inner {
  width: 70px;
  height: 70px;
}
.post-details.activity-owner {
  position: relative;
  flex: auto;
  padding: 0;
}
.post-details.owner-name {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--black-color);
  text-decoration: none;
  overflow-wrap: break-word;
}
.post-details.arrow.svg {
  display: inline-block;
  width: 15px;
  margin: 0 8px;
  padding: 0;
}
.post-details.arrow.svg-stroke {
  fill: var(--pink-color);
  stroke: var(--black-color);
  stroke-width: 5px;
}
.post-details.activity {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--black-color);
  text-decoration: none;
}
.post-details.created-at {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 14px;
}

.post-details.event {
  display: flex;
  margin: 20px 0 10px 0;
  padding: 5px 0;
  border-top: 1px solid var(--hover-white-color);
  border-bottom: 1px solid var(--hover-white-color);
}
.post-details.participants {
  flex: auto;
  margin: 0;
  font-size: 24px;
  text-align: center;
}
.post-details.date {
  flex: auto;
  font-size: 24px;
  color: var(--black-color);
  text-align: center;
}

.post-details.description {
  margin: 0;
  padding: 15px 0;
  font-size: 20px;
  color: var(--font-color);
  overflow-wrap: break-word;
}

.post-details.media {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
}
.post-details.member-list {
  margin: 20px 0 0 0;
  padding: 20px;
  list-style: none;
  background: var(--white-color);
  box-shadow: 0px 0px 3px 0px var(--font-color);
  border-radius: 5px;
}
.member-list.header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
}
/* =============== Mobile styles =============== */
@media screen and (max-width: 800px) {
  .post-details.wrapper {
    padding: 10px 10px 40px 10px;
  }
  .post-details.avatar-link,
  .post-details.avatar-wrapper,
  .post-details.avatar-inner {
    width: 40px;
    height: 40px;
  }
  .post-details.owner-name,
  .post-details.activity {
    font-size: 18px;
  }
  .post-details.arrow.svg {
    width: 10px;
    margin: 0 5px;
  }
  .post-details.created-at {
    font-size: 12px;
  }

  .post-details.participants {
    font-size: 18px;
    text-align: left;
  }
  .post-details.date {
    font-size: 20px;
    text-align: right;
  }
  .post-details.description {
    font-size: 18px;
  }
  .member-list.header {
    font-size: 20px;
  }
}
