.nav-icon.wrapper.notification {
  position: relative;
  padding: 3px 10px;
}
.notification.svg-stroke {
  stroke-width: 23px;
}
.notification.unseen-counter {
  position: absolute;
  height: 14px;
  min-width: 14px;
  top: 4px;
  right: 15px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
  background: var(--error-color);
  color: white;
  border-radius: 50%;
}
.notification-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
