.notification.item {
  display: block;
  margin: 3px 0;
  padding: 5px 15px;
  list-style: none;
  /* border-bottom: 0.1px solid var(--font-light-color); */
}
.notification.item.new {
  background: var(--bg-white-color);
}
.notification.text {
  margin: 0;
  padding: 0;
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  color: var(--font-color);
}
.notification.subject,
.notification.object {
  font-size: 17px;
  font-weight: 900;
  color: var(--black-color);
}
.notification.btn {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 1px 6px;
  font-size: 13px;
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
