.edit-icon-wrapper {
  position: relative;
  width: 35px;
  height: 35px;
}
.edit-icon-inner {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.edit-svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.edit-svg.layer {
  stroke-width: 10px;
  stroke: var(--font-color);
  fill: var(--font-light-color);
}
.edit-icon[type="button"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}
