/* ========== Field styles ========== */

.profile.full-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px auto;
  padding: 10px;
  text-align: center;
}
.full-name.title {
  font-size: 35px;
  margin: 0 10px 0 0;
  padding: 0;
  font-weight: bold;
}
.full-name.edit-icon {
  position: relative;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
}
.full-name.edit-icon:hover {
  background: var(--white-color);
}

.full-name.x-icon.img {
  position: absolute;
  top: -35px;
  right: -20px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: var(--hover-white-color);
  cursor: pointer;
  border-radius: 50%;
}

/* =============== Mobile styles =============== */
@media screen and (max-width: 800px) {
  .profile.full-name {
    padding: 0 10px;
  }
  .full-name.title {
    font-size: 30px;
  }
  .edit-icon {
    width: 30px;
    height: 30px;
  }
}
