/* =============== Desktop styles =============== */
.navbar.outer-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background: var(--white-color);
  z-index: 10;
}
.navbar.container {
  display: flex;
  padding: 10px 5px;
}
/* === Brand Logo styles === */
.logo.wrapper {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.logo.item {
  font-size: 34px;
  font-weight: bolder;
}
.logo.l {
  color: #6aa84f;
}
.logo.d {
  color: #7b95e0;
}
.logo.h {
  color: #585757;
}
.navbar.status {
  margin: 0 0 0 5px;
  font-size: 14px;
  color: var(--font-light-color);
  font-weight: bold;
}
.navbar.status.online {
  color: var(--green-color);
}
/* === Icons styles === */
.navbar.icons {
  flex: auto;
  display: flex;
  justify-content: space-around;
}
.nav-icon.wrapper {
  position: relative;
  width: 60px;
  height: 40px;
  margin: auto 0;
  padding: 3px 10px;
  border-radius: 10px;
}
.nav-icon.wrapper.home-link {
  padding: 5px 10px;
}
.nav-icon.wrapper.my-items-link {
  padding: 6px 10px;
}
.nav-icon.wrapper:hover {
  background: var(--bg-white-color);
}
.nav-svg-icon {
  width: 100%;
  height: 100%;
  margin: 0;
}
.nav-svg-layer,
.nav-svg-stroke {
  stroke: var(--font-color);
  stroke-width: 25px;
  fill: none;
}
.nav-svg-layer.my-items,
.nav-svg-layer.notification {
  stroke-width: 22px;
}

/* === Avatar and Options drop list styles === */
.navbar.options {
  position: relative;
  width: 40px;
  margin: 0;
  padding: 0;
}
.avatar.img {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  padding: 0;
  background: var(--hover-white-color);
  border-radius: 50%;
}

/* =============== Tablet styles =============== */
/* @media screen and (max-width: 1170px) {
} */

/* =============== Mobile styles =============== */
@media screen and (max-width: 800px) {
  .navbar.container {
    padding: 0 10px;
    /* align-items: center; */
  }
  .logo.wrapper {
    line-height: 47px;
  }
  .logo.item {
    font-size: 25px;
  }
  .navbar.status {
    margin: 0 0 0 2px;
    font-size: 12px;
    line-height: 25px;
  }
  .navbar.icons {
    justify-content: space-between;
    margin: 0 15px 0 5px;
  }
  .nav-icon.wrapper,
  .nav-icon.wrapper.home-link,
  .nav-icon.wrapper.messenger,
  .nav-icon.wrapper.notification {
    width: 38px;
    height: 38px;
    padding: 4px 2px;
    border-radius: 5px;
  }
  .nav-icon.wrapper.my-items-link {
    padding: 6px 3px;
  }
  .notification-button,
  .messenger-button {
    width: 38px;
    height: 38px;
  }
  .navbar.options {
    width: 35px;
    margin: 0;
  }
  .navbar.avatar.img {
    margin: 8px 0;
  }
}
