<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/style/style-variables.css" />
    <link rel="stylesheet" type="text/css" href="/style/homepage.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <title>LetsDoHobby</title>
  </head>

  <body>
    <div class="navbar outer-container">
      <nav class="navbar container no-line" title="navigation bar" tabindex="0">
        <a href="/" class="logo-link no-line">
          <span class="logo l">L</span>ets<span class="logo d">D</span>o<span class="logo h">H</span>obby</a>
        <div class="nav-btns">
          <a href="#signup-page" class="nav btn">Join</a>
          <a href="#intro-section" onclick="showLoginForm()" class="nav btn login">Login</a>
        </div>
        <form onsubmit="onLogin(this)" class="nav login-form no-line" title="" tabindex="0">
          <div class="login-error"></div>
          <input type="text" name="username" placeholder="Email or Phone" class="no-line" />
          <input type="password" name="psw" placeholder="Password" class="no-line" />
          <button type="submit" class="no-line" title="" tabindex="0">Login</button>
        </form>
      </nav>
    </div>
    <div id="loading-screen-wrapper">
      <svg viewBox="0 0 100 100" id="loading-screen-svg">
        <rect x="25.6405" y="55" width="30" height="30" rx="3" ry="3" id="rect-1">
          <animate attributeName="x" dur="2s" repeatCount="indefinite"
            keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;55;55;55;55;15;15;15;15"
            begin="-1.8333333333333333s"></animate>
          <animate attributeName="y" dur="2s" repeatCount="indefinite"
            keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;55;55;55;55;15;15;15;15"
            begin="-1.3333333333333333s"></animate>
        </rect>
        <rect x="55" y="15" width="30" height="30" rx="3" ry="3" id="rect-2">
          <animate attributeName="x" dur="2s" repeatCount="indefinite"
            keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;55;55;55;55;15;15;15;15"
            begin="-1.1666666666666667s"></animate>
          <animate attributeName="y" dur="2s" repeatCount="indefinite"
            keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;55;55;55;55;15;15;15;15"
            begin="-0.6666666666666666s"></animate>
        </rect>
        <rect x="15" y="15" width="30" height="30" rx="3" ry="3" id="rect-3">
          <animate attributeName="x" dur="2s" repeatCount="indefinite"
            keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;55;55;55;55;15;15;15;15"
            begin="-0.5s"></animate>
          <animate attributeName="y" dur="2s" repeatCount="indefinite"
            keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;55;55;55;55;15;15;15;15"
            begin="0s"></animate>
        </rect>
      </svg>
    </div>
    <div class="outer-container intro">
      <section id="intro-section" class="container no-line" title="Intro" tabindex="0">
        <form onsubmit="onLogin(this)" class="intro login-form no-line" title="" tabindex="0">
          <div class="login-error"></div>
          <input type="text" name="username" placeholder="Email or Phone" class="no-line" />
          <input type="password" name="psw" placeholder="Password" class="no-line" />
          <button type="submit" class="no-line" title="" tabindex="0">Login</button>
        </form>
        <article class="intro article no-line" title="Intro article" tabindex="0">
          <p class="intro first-heading">What is LetsDoHobby?</p>
          <div class="intro img-wrapper">
            <img class="intro img" src="/image/questioning-2.jpg" alt="questioning">
          </div>
          <p class="intro heading">Or</p>
          <p class="intro heading">Do I even need it?</p>
          <div class="intro-learn-more">
            <p class="learn-more-para">Let's find out and get to know LetsDoHobby</p>
            <a href="#learn-more" title="Find out what Lets Do Hobby is" class="intro arrow-down-link">
              <img src="/image/arrow-down.png" alt="arrow-down" class="arrow-down">
            </a>
          </div>
        </article>
        <form onsubmit="onSignup(this)" id="signup-page" class="signup-form no-line" title="" tabindex="0">
          <h4 class="signup-form-heading">Enjoy your hobbies and meet people with similar hobbies anywhere
            anytime</h4>
          <div id="signup-error"></div>
          <div class="signup-field">
            <input type="text" name="firstName" placeholder="First Name" class="signup-input name" />
            <input type="text" name="lastName" placeholder="Last Name" class="signup-input name" />
          </div>
          <div class="inputs-container">
            <input type="text" name="username" placeholder="Email Address or Mobile Number"
              class="signup-input" />
            <input type="password" name="psw" placeholder="new password" class="signup-input" />
            <input type="password" name="pswConfirm" placeholder="Confirm password" class="signup-input" />
          </div>
          <label for="birthday">Birthday</label>
          <div class="signup-field">
            <select aria-label="Day" name="birthdayDay" id="birthday" class="birthday-select" title="Day">
              <option value="01" selected="1">01</option>
            </select>
            <select aria-label="Month" name="birthdayMonth" class="birthday-select" title="Month">
              <option value="Feb" selected="Feb">Jan</option>
            </select>
            <select aria-label="Year" name="birthdayYear" class="birthday-select" title="Year">
              <option value="2002" selected="1">2002</option>
            </select>
          </div>
          <div class="signup-field">
            <label for="other" class="gender">Other <input type="radio" id="other" name="gender" value="other"
                aria-label="Gender" checked>
            </label>
            <label for="male" class="gender">Male <input type="radio" id="male" name="gender" value="male"
                aria-label="Gender">
            </label>
            <label for="female" class="gender">Female <input type="radio" id="female" name="gender"
                value="female" aria-label="Gender">
            </label>
          </div>
          <button type="submit" id="signup-btn">Join</button>
        </form>
      </section>
    </div>
    <div class="outer-container about">
      <section id="learn-more" class="container no-line" title="" tabindex="0">
        <p class="welcoming">Here you are <i class="welcoming-smile"><img src="/image/smile.png" alt="smile"
              class="smile"></i>
        </p>
        <h2 class="heading">Do I need to LetsDoHobby app!</h2>
        <ul class="questions-list">
          <li class="question">Do you have a hobby or an activity that you love but you don't have the right
            partner to enjoy it?</li>
          <li class="question">Don't you have a hobby but always look forward to find out what you like to do
            as a hobby </li>
          <li class="question">Do you love to meet and integrate with local people and share activities? </li>
          <li class="question">Are you alone because you don't have friends with similar interests? </li>
        </ul>
        <p class="learn-more-conclusion">If the answer of one of these question is "Yes", then you are in the
          right place, and there is a big chance that you love this app.</p>
        <h1 class="what-is-it heading">What is LetsDoHobby?</h1>
        <p class="define-ldh"><strong class="ldh">LetsDoHobby</strong> is a simple platform where you can find
          your hobby partner to enjoy your hobbies or any other activities that you love to do with local
          people. <br />The main idea is to take people from the social networks activities to real life
          activities<br />The second thing the app focus on is bringing like minded people together<br />There
          aren't a lot of fancy functionalities in there, it's very simple app </p>
        <h2 class="heading">The main features of LetsDoHobby</h2>
        <ol class="features-list">
          <li class="feature">Personal Profile where people can see what you are good at or what you love to
          </li>
          <li class="feature">Feeds where you see people posting ads based on single activity, in this ad they
            describe when, where, and how many people they need to practice the selected activity</li>
          <li class="feature">The user can also post his own ad looking for the right partner for a specific
            activity</li>
          <li class="feature">If the user like the ad, a group chat opens automatically and anyone else likes
            the ad will be a member of this group chat, this way members can start arranging the meeting and
            some other needs for them self</li>
          <li class="feature">Meeting people with similar interests as yours in your area.</li>
          <li class="feature">User can see the ads based on the user's location range, which mean the user can
            not change his location, but he can decide the range of location</li>
        </ol>
        <h2>Discover your hobbies</h2>
        <p>....</p>
        <h2>Here some tips on what info your post should include.</h2>
        <p>...
          <!-- e.g. I want to enjoy ... with ... -->
        </p>
      </section>
    </div>
    <div class="outer-container footer">
      <footer class="container no-line"></footer>
    </div>
    <script src="/script/utility.js"></script>
    <script src="/script/date-options.js"></script>
    <script src="/script/home.js"></script>
  </body>

</html>