.exclamation-mark.wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
}
.exclamation-mark.wrapper > .mark-btn {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
@keyframes exclamation-mark {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.exclamation-mark.options {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 45vh 0 0 0;
  list-style: none;
  color: var(--hover-white-color);
  border-radius: 5px;
  opacity: 0;
  animation-name: exclamation-mark;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.mark-options.item {
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  background: var(--font-color);
  color: var(--hover-white-color);
  text-align: center;
  border-top: 0.1px solid #cfcaca;
  box-shadow: 0 0 50px 0 var(--font-color);
  border-radius: 50px;
  cursor: pointer;
}
